# encoding: UTF-8
<h2>Sobre o PDTIC 2017/2020 </h2>

<div class="journal-content-article" id="article_10154_1447598_1643427_3.5">
 <p class="textoBasico"></p>
<p style="margin-bottom: 10px; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px;">
 O <strong>
Plano Diretor de Tecnologia da Informação e Comunicações - PDTIC</strong>
 é um instrumento de planejamento e de gestão que visa nortear e acompanhar a atuação da área de TIC do CNPq, definindo as estratégias e o plano de ações para implementá-las.&nbsp; É ele que possibilitará o melhor aproveitamento dos recursos aplicados em TIC, reduzindo desperdícios, permitindo controles e aplicando os recursos nas ações&nbsp;<strong>
definidas pelo órgão como relevantes para sociedade, Estado e serviço público</strong>
.</p>
 <p style="margin-bottom: 10px; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px;">
 O PDTIC<strong>
&nbsp;identifica as atuais necessidades de informação, serviços, infraestrutura, contratação de serviços de terceiros, organização e pessoal de TIC para o cumprimento dos objetivos estratégicos do CNPq</strong>
. Está alinhado aos requisitos genéricos definidos na Estratégia de Governança Digital (EGD), estabelecida pela Secretaria de Tecnologia da Informação (STI) do Ministério do Planejamento, Desenvolvimento e Gestão.</p>
 <p style="margin-bottom: 10px; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px;">
 &nbsp;</p>
 <p style="float: left; width: 50%; margin-bottom: 10px; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px;" id="aui_3_4_0_1_844">
 <a href="http://portal-intranet.cnpq.br/documents/1447598/1643747/PDTIC-2017_2020-14-07-17-INTRANET.pdf/1fe3dad9-c4c1-41e3-86e0-acadf6e7276b" target="_blank" id="aui_3_4_0_1_843">
<img alt="PDTIC 2017/2020" src="http://portal-intranet.cnpq.br/documents/1447598/1643747/PDTIC+2017-2020.png/0d8a663a-153f-4f03-bb48-81e28749165c?t=1501772467427" style="width: 95%" id="aui_3_4_0_1_842">
</a>
</p>
 <p>
 &nbsp;</p>
 <p>
 <strong style="font-size: 1.6em;">
<a href="http://portal-intranet.cnpq.br/documents/1447598/1643747/PDTIC-2017_2020-14-07-17-INTRANET.pdf/1fe3dad9-c4c1-41e3-86e0-acadf6e7276b" target="_blank">
Baixar o PDTIC 2017/2020 - completo</a>
</strong>
</p>
 <p>
 <a href="http://portal-intranet.cnpq.br/documents/1447598/1643747/PDTIC-2017_2020-14-07-17-INTERNET.pdf/0e22a47f-9946-4a94-a900-72606ab67c1b">
Baixar o PDTIC 2017/2020 - versão publicada na INTERNET</a>
</p>
 <p style="clear: both">
 &nbsp;</p>
 </div>

