<% if @project.module_enabled?(:alinhamento_PDTIC) %>
<div class='projects box'>
   <span class='ui-icon ui-icon-shuffle' style='float: left; position: relative; top: 5px;'></span>
   <h3>Alinhamento do Projeto com o PDTIC 2017/2020</h3>
   <div style='clear: both'></div>
   <%= render "alinhamento/link_novo_alinhamento" %>
   <%= render "alinhamento/modal_novo_alinhamento" %>

</div>

<%= render "alinhamento/peAlinhamento" %>
<% end %>
