.form-group label{
    min-width: 18%;
    display: inline-block;
    font-weight: bold;
}

.form-group input, textarea{
    width: 80%;
}

.form-group{
   padding: 5px;

}

.form-inline{
    padding: 4% 4% 0 0;
    text-align: right; 
}

.float-left{
   float: left;
}

.float-right{
   float: right;
}

.small-text{
   font-size: small;
}

.modal{
   font-size: 0.85em;
   min-width: 650px;
}


.ui-accordion .ui-accordion-content {
    border: 1px solid #628db6;
    border-top-style: dashed;
}

.ui-accordion .ui-accordion-header-active {
    border-bottom-style: none;
}


