.form-group label{
    width: 15%;
    display: inline-block;
    font-weight: bold;
}

.form-group input, textarea{
    width: 80%;
}

.form-group{
   padding: 5px;

}

.form-inline{
    padding: 4% 4% 0 0;
    text-align: right; 
}

.float-left{
   float: left;
}

.float-right{
   float: right;
}

.small-text{
   font-size: small;
}

.modal{
   font-size: 0.7em;
}

/*
.ui-accordion .ui-accordion-content {
    padding: 0px 25px;
    border-top: 0;
    overflow: auto;
} */
