# encoding: UTF-8

<!-- Modal HTML para inclusao de nova vig√™ncia -->
<div id="modal-CGETI" class="modal"  title='Incluir Vig√™ncia'>
  <div class='ui-icon ui-icon-shuffle' style='float: left; position: relative; top: 5px;'> </div>
  <h1>Incluir nova Vig√ncia ao Contrato</h1>

  <div style='clear: both;'></div>


 <%= link_to "Fechar", "#", class: "", id: "fechar-modal-CGETI" %>
</div>

