# encoding: UTF-8

<!-- Modal HTML para inclusao de novos Alinhamentos -->
<div id="modal-incluiAlinhamento" class="modal" title='Incluir Alinhamento'>
  <div class='ui-icon ui-icon-shuffle' style='float: left; position: relative; top: 5px;'> </div>
  <h1>Incluir novo Alinhamento ao PDTIC 2017/2020</h1>
  <div style='clear: both;'></div>
  <%= link_to "Fechar", "#", class: "", id: "fechar-modal-incluiAlinhamento" %>
</div>
