# encoding: UTF-8

<!-- Modal HTML para inclusao de novos Alinhamentos -->
<div id="modal-incluiAlinhamento" class="modal" title='Incluir Alinhamento'>
  <h1 class='ui-icon ui-icon-shuffle'>Incluir novo Alinhamento ao PDTIC 2017/2020</h1>
  
  <a href="#" id="fechar-modal-incluiAlinhamento" class='icon icon-cancel'>Fechar</a>
</div>
